In [1]:
from bs4 import BeautifulSoup as bs
import requests

In [2]:
#print(soup.title.text)

In [3]:
review_content=[]

In [4]:
def get_review(soup):
    reviews=soup.find_all('div',{'data-hook':'review'})
    try:
        for item in reviews:
            review_dict={
            'title':item.find('a',{'data-hook':'review-title'}).text.strip(),
            'rating':float(item.find('i',{'data-hook':'review-star-rating'}).text.replace("out of 5 stars"," ").strip()),
            'content':item.find('span',{'data-hook':'review-body'}).text.strip()
            }
            #print(rating,title,content)
            review_content.append(review_dict)
    except:
        pass

In [5]:
for x in range(1,500):
    link=f"https://www.amazon.in/Bassbuds-Duo-Headphones-Water-Resistant-Assistance/product-reviews/B09DD7N79Q/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber={x}"
    #print(link)
    page=requests.get(link)
    soup=bs(page.content,'html.parser')
    get_review(soup)
    #print(len(review_content))
    if not soup.find('li',{'class':'a-disabled a-last'}):
        pass
    else:
        break

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame(review_content)
df.to_excel("Amazon_review.xlsx",index=False)

In [8]:
df.head()

,title,rating,content
0,Decent tws earbuds. Sound quality: Good..... B...,4.0,Been using these for 2 days now and have a few...
1,Cost is low..make it urs if u wanna try a dece...,5.0,Well...if u wanna try a decent TWS(True Wirele...
2,Disappointed,1.0,Dont waste your money on this guys i have brou...
3,Nice earbuds,5.0,Superb earbuds with perfect and sweetest sound...
4,Absolute crap,1.0,This is the worst Bluetooth headphone I ever u...

In [9]:
df.tail()

,title,rating,content
4485,I repent wasting my money. Its not working.,1.0,It gets disconnected every now and then. The q...
4486,Very convenient to use üëç delighted to have this üòá,5.0,Stereo phonic sound clarity üëå easily functiona...
4487,Very bad Bluetooth experience because some tim...,3.0,Bluetooth breaking problem when I am working o...
4488,"Superb items, excellent",5.0,"Iam Happy about that, excellent product in low..."
4489,Not working properly,3.0,"I have an issue with the product, the bluetoot..."

In [10]:
df.describe()

            rating
count  4490.000000
mean      3.361470
std       1.672597
min       1.000000
25%       1.000000
50%       4.000000
75%       5.000000
max       5.000000